<mat-card class="book-card-container">
    <div class="content">
        <div class="content__author">
            <mat-card-subtitle>Author</mat-card-subtitle>
            {{book.author}}
        </div>
        <div class="content__book">
            <mat-card-subtitle>Book name</mat-card-subtitle>
            {{book.bookName}}
        </div>
    </div>
    <mat-card-actions align="end">
        <button mat-raised-button
        class="edit-button"
        (click)="editBook()">
            Edit
        </button>
        <button mat-raised-button
        class="delete-button"
        (click)="deleteBook()">
            Delete
        </button>
    </mat-card-actions>
</mat-card>